<p>product-list works c'est bien!</p>
<a [href]="url"> Moteur de recherche du code</a>

<p [attr.contenteditable]="isAdmin">modifier le texte ici</p>

<p [class]="(isAdmin) ? 'macouleur': 'jhonny'">Couleur de texte modifiable</p>

<p [class.macouleur]="isAdmin">Couleur de texte modifiable</p>

<button mat-button (click)="coco()">Click me!</button>

<p [ngClass]="classCss">Test ngClass</p>

<p *ngIf="isAdmin; else publicContent">Afficher le contenu</p>

<ng-template #publicContent>
  <p>Contenu public</p>
</ng-template>

<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group">
  <mat-radio-button class="example-radio-button"
                    *ngFor="let product of products, index as i"
                    [value]="product.name"
                    (change)="chooseProduct(product)">
    {{product.name}} - {{getAverage(i)}}
  </mat-radio-button>
</mat-radio-group>

<app-product-show [product]="choosenProduct" (voted)="handleVote($event)"></app-product-show>

